$PrimaryColor: #FFD306;
$SecondaryColor: black;
$ThirdColor:#FFA000;

.LoadMore {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    Button {
        background-color: $PrimaryColor;
        border: 1px solid transparent;
    }
    Button:hover {
        background-color: $ThirdColor;
    }
    Button:focus {
        background-color: $ThirdColor;
    }

}




