$PrimaryColor: #FFD306;
$SecondaryColor: black;
$ThirdColor:#FFA000;

.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $PrimaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Title {
    font-size: 24px;
    margin-left: -3%;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}