.User {
    border: 1px solid black;
    width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    padding: 10px;
}
.Text {
    margin: 0px;
}