$PrimaryColor: #FFD306;
$SecondaryColor: black;
$ThirdColor:#FFA000;


.Filtered input {
    width: 70%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.SearchBar {
    display: flex;
    justify-content: center;
}


.Users {
    display: flex;
    justify-content: center;
}
